#include "CodeSigning.xcconfig"

SUPPORTED_PLATFORMS = watchsimulator watchos macosx iphonesimulator iphoneos appletvsimulator appletvos

ALLOW_TARGET_PLATFORM_SPECIALIZATION = NO

IPHONEOS_DEPLOYMENT_TARGET = 14.0
MACOSX_DEPLOYMENT_TARGET = 11.4
TVOS_DEPLOYMENT_TARGET = 14.0
WATCHOS_DEPLOYMENT_TARGET = 7.0
